---
layout: default
libs:
    - p5js
scripts:
    - assets/js/diamond-cubic/draw.js
---

<canvas id="bg-canvas">
    A rotating ball-and-stick model of a diamond crystal.
</canvas>
<noscript>
    <style>
        #bg-canvas {
            background-image: url(assets/img/diamond-cubic.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</noscript>

<main class="home-main" id="main">
    <section class="home-section" id="about-me">
        <div class="h-card" id="personal-info">
            <img class="u-photo" id="profile-pic" src="assets/img/profile-pic.jpg" alt="A picture of me behind a model of a ball-and-stick model of a diamond crystal.">
            <div id="personal-links">
                <h1 class="p-name">{{ site.title }}</h1>
                <p id="location">
                    {%- include_relative assets/img/location.svg -%}
                    <span class="p-country-name">United Kingdom</span>
                </p>
                {% include social-links.html username=true %}
            </div>
        </div>
        <div id="personal-summary">
            {% capture about %}{% include_relative about-me.md %}{% endcapture %}
            {{ about | markdownify }}
        </div>
    </section>
    <section class="home-section" id="projects">
        <h2>Projects</h2>
        <ul>
        {% for project in site.data.projects %}
            <li class="project-item" id="{{ project.id }}">
                <div class="project-desc">
                    <h3>
                        <a target="_blank" href="{{ project.url }}">{{ project.title }}</a>
                    </h3>
                    <p>
                        {{ project.description }}
                    </p>
                </div>
                <img src="{{site.assets}}/img/{{project.image}}" aria-hidden>
            </li>
        {% endfor %}
        </ul>
    </section>
    <!-- <section class="home-section" id="featured-posts">
        <h2>Featured Posts</h2>
        <ul>
            {% for post in site.posts %}
                <li class="featured-post"
                    style="background-image: url('{{ post.image }}');
                           background-size: cover;">
                    <h3>
                        <a class="u-url" href="{{ post.url }}">{{ post.title }}</a>
                    </h3>
                </li>
            {% endfor %}
        </ul>
    </section> -->
</main>

<button id="play-pause-btn" class="js-only" type="button" title="Pause Animation"
        aria-controls="bg-canvas">
    <svg viewBox="-140 100 800 800" aria-hidden="true">
        <path id="play-pause-icon" d="M0 832h192V192H0V832zM320 192v640h192V192H320z"></path>
    </svg>
</button>

<div id="js-control-panel" class="js-control-panel js-only">
    <div class="js-control">
        <label for="hide-content" id="hide-content-label" class="toggle-label">
            <span>Hide content</span>
            <input type="checkbox" id="hide-content"
                   role="switch">
            <div class="toggle"></div>
        </label>
    </div>

    <div class="js-control">
        <fieldset class="layer-btn-container">
            <legend>Add Layers</legend>
            <button type="button" id="remove-layer" title="Remove Layer">-</button>
            <button type="button" id="add-layer" title="Add Layer">+</button>
        </fieldset>
    </div>
</div>
