.real-basis, .complex-form {
    display: block;
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

figure {
    margin: 2rem auto;
    border-left: 0.5rem solid var(--accent-color);
}

figure mjx-container[jax="CHTML"][display="true"] {
    display: inline;
}
figcaption {
    margin: 2rem;
    margin-left: 1rem;
    font-style: italic;
}

figure#complex-plane {
    position: relative;
}
#complex-btn {
    all: revert;
    position: absolute;
    left: 1rem;
    top: 2rem;
}

figure #eigenfunctions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#eigenfunctions canvas {
    margin: 0;
}
#wavefunction > canvas {
    margin: 0 auto;
}

.complex-form#exp-form {
    display: none;
}