<div class="skip-link">
    <a href="#main">Skip to Content</a>
</div>
<header class="global-header">
    <a id="header-logo" rel="home" title="Home" href="/">
        {{ site.title }}
    </a>
    <fieldset class="light-dark-mode">
        <legend>Appearance</legend>
        <input type="radio" id="light-mode" name="appearance">
        <input type="radio" id="dark-mode" name="appearance">
        <script src="{{ "assets/js/light-dark-mode.js" | absolute_url }}"></script>
        <div class="toggle">
            <svg id="light-icon" viewBox="0 0 24 24" fill="#fff" stroke="#fff">
                <path d="M12 3V4M12 20V21M4 12H3M6.31412 6.31412L5.5 5.5M17.6859 6.31412L18.5 5.5M6.31412 17.69L5.5 18.5001M17.6859 17.69L18.5 18.5001M21 12H20M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" 
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg id="dark-icon" viewBox="0 0 24 24" fill="#fff" stroke="#fff">
                <path d="M13 6V3M18.5 12V7M14.5 4.5H11.5M21 9.5H16M15.5548 16.8151C16.7829 16.8151 17.9493 16.5506 19 16.0754C17.6867 18.9794 14.7642 21 11.3698 21C6.74731 21 3 17.2527 3 12.6302C3 9.23576 5.02061 6.31331 7.92462 5C7.44944 6.05072 7.18492 7.21708 7.18492 8.44523C7.18492 13.0678 10.9322 16.8151 15.5548 16.8151Z" 
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <label for="light-mode">Light Mode</label>
            <label for="dark-mode">Dark Mode</label>
        </div>
    </fieldset>
    <!-- <input type="checkbox" id="nav-toggle" 
           role="button" aria-haspopup="true" aria-controls="header-nav">
    <script src="{{ "assets/js/nav-menu-enhance.js" | absolute_url }}"></script>
    <label for="nav-toggle" id="nav-toggle-label">
        <svg id="hamburger" viewBox="0 0 100 100">
            <title>Open Navigation</title>
            <g fill="#fff">
                <rect x="15" y="19" width="70" height="12" rx="5"/>
                <rect x="15" y="44" width="70" height="12" rx="5"/>
                <rect x="15" y="70" width="70" height="12" rx="5"/>
            </g>       
        </svg>
        <svg id="cross" viewBox="0 0 100 100">
            <title>Close Navigation</title>
            <g fill="#fff">
                <rect x="15" y="44" width="70" height="12" rx="5" transform="rotate(45 50 50)"/>
            <rect x="15" y="44" width="70" height="12" rx="5" transform="rotate(-45 50 50)"/>
            </g>       
        </svg>
    </label>
    <nav id="header-nav" class="header-nav">
        <ul id="navbar-list">
            <li class="navbar-link">
                <a rel="blog" href="{{ "blog" | absolute_url }}">Blog</a>
            </li>
            <li class="navbar-link">
                <a href="">Bookmarks</a>
            </li>
        </ul>
    </nav> -->
</header>