.recs-main section {
    max-width: 80ch;
    margin: auto;
}

.rec-item {
    @extend %link-snippet;

    > div {
        margin: auto 1rem;
        padding: 1rem 0;
    }

    h3 {
        display: inline;
    }
    .rss-link {
        display: inline;
        svg {
            width: 1rem;
            vertical-align: sub;
            margin: revert;
            margin-inline-start: 0.2rem;
        }
    }
    a {
        @extend %pretty-link;
    }

    img {
        object-fit: cover;
        background-color: white;
    }
}