// theme colors 
$white: #fff;
$black: #000;

$pink: #dd00ee;
$blue: #00ffff;

$purple: #6600ff;
$light-purple: #7060ff;

$disabled: gray;

// others 
$linkedin-blue: #0077b5;
$github-gray: #24292f;

$stem-blue: #6cabef;