@mixin toggle($width, $height, $input-id, $color1:gray, $color2:var(--accent-color)) {
    $inner-size: $height * 0.75;
    $margin: ($height - $inner-size) * 0.5;
    $translate: $width - $inner-size - (2 * $margin);

    display: block;

    * {
        cursor: pointer;
        margin: auto;
    }

    input {
        @extend .sr-only;
        &:focus-visible ~ .toggle {
            @extend %focus-outline;
        }
    }
    ##{$input-id}:checked ~ .toggle {
        background: $color2;
        &::before {
            transform: translateX($translate);
        }
    }

    .toggle {
        width: $width;
        height: $height;
        position: relative;

        border-radius: 20px;
        background: $color1;

        &::before {
            content: "";
            width: $inner-size;
            height: $inner-size;
            
            position: absolute;
            top: $margin;
            bottom: $margin;
            left: $margin;
            
            border-radius: 50%;
            
            background-color: white;
            
            transition: transform 0.3s;
        }
    }
}
